<div *ngIf="items$ | async; let items; else loading">
    <ul>
      <li *ngFor="let item of items">
        <h4>{{ ConvertDate(item.payload.val().Timestamp) | date:'short':'+0300':'fi'}}</h4>
        <div> 
            <div>
                Temperature: {{ item.payload.val().Temperature }} ℃
            </div>
            <div>
                Humidity: {{ item.payload.val().Humidity}}
            </div>
            <div>
                Light: {{ item.payload.val().Light }}
            </div>
        </div>
      


      </li>
    </ul>
    <div *ngIf="items.length === 0">No results</div>
  </div>
  <ng-template #loading>Loading&hellip;</ng-template>